<script id="tmplFooter" type="text/html">

    <div id="footer" class="widthPolicy mainFrame">

        <div class="twitterOver hidden"></div>
        <div class="facebookOver hidden"></div>
        <div class="githubOver hidden"></div>

        <div id="footerText" class="h2Bold">Developer? Check out our GitHub project <a href="https://github.com/hoboshredder/BPF" target="_blank">here</a>.</div>
        <div id="twitterIcon" class="linkIcon button twitter"></div>
        <div id="facebookIcon" class="linkIcon button facebook"></div>
        <div id="githubIcon" class="linkIcon button github"></div>
    </div>

</script>