<script id="tmplHeader" type="text/html">

    <div id="header" class="widthPolicy mainFrame">

        <div id="headerLeft"></div>
        <div class="divider1"></div>
        <div id="headerMain">

            <div id="searchBG">
                <input type="text" id="txtSearch" class="gray" value="Search tag names">
                <div id="btnSearch" class="button"></div>
            </div>

            <div id="btnUpload" class="headerLink button white">Upload</div>
            <div id="btnDownload" class="headerLink button white hidden">Download</div>

            <div id="lblTitle">Big Public Folder</div>
            <div id="lblBeta">beta</div>

        </div>

    </div>

</script>