<?xml version="1.0" encoding="UTF-8"?>

<web-app
            xmlns="http://java.sun.com/xml/ns/javaee"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
            version="3.0">

    <display-name>www.BigPublicFolder.com</display-name>

    <welcome-file-list>
        <welcome-file>search.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>FILE_STORAGE_TYPE</param-name>
        <param-value>${bpf.fileStorageType}</param-value>
        <!--param-value>S3</param-value-->
        <!--param-value>LOCAL_DISK</param-value-->
    </context-param>

    <context-param>
        <param-name>FILE_DIR_PATH</param-name>
        <param-value>${bpf.fileDirPath}</param-value>
    </context-param>

    <context-param>
        <param-name>MONGO_HOST</param-name>
        <param-value>${bpf.mongoHost}</param-value>
    </context-param>

    <context-param>
        <param-name>MONGO_PORT</param-name>
        <param-value>${bpf.mongoPort}</param-value>
    </context-param>

    <context-param>
        <param-name>S3_ACCESS_KEY</param-name>
        <param-value>${bpf.s3AccessKey}</param-value>
    </context-param>

    <context-param>
        <param-name>S3_SECRET_KEY</param-name>
        <param-value>${bpf.s3SecretKey}</param-value>
    </context-param>

    <context-param>
        <param-name>S3_BUCKET_NAME</param-name>
        <param-value>${bpf.s3BucketName}</param-value>
    </context-param>

</web-app>
